@model CategoryVM

@{
	ViewData["Title"] = $"";
}

<div class="mb-5 d-sm-flex justify-content-between align-items-center">
	<h1>@Model.Name</h1>
	<div class="mt-sm-0 mt-3">
		<span>Number Of Books In @Model.Name Category Is : <strong>@Model.NumberOfBooksInCategory</strong></span>
	</div>
</div>


<div class="row">
	<p class="col-12 col-md-5">@Model.Description</p>
	<div class="col-12 col-md-6 offset-md-1">
		<img src="@($"{FileSettings.CategoriesImagesPath}{Model.ImagePath}")" alt="@Model.Name Image" class="img-fluid" />
	</div>
</div>